
<div class="flex flex-col mt-10 mb-10">
  <h1 class="text-4xl">Member Dashboard</h1>
  <div class="border-t border-gray-400 w-full"></div>
  <div class="flex flex-row justify-between">
    <div class="flex flex-col w-1/2">
      <div class="m-2 border border-gray-400 shadow-md rounded-md p-4">
        <h2 class="text-xl font-bold">Profile Details:</h2>
        <ul>
          <li>Email: ...</li>
          <li>Created At: ...</li>
          <li>Updated At: ...</li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col w-1/2 h-full">
      <div class="m-2 border border-gray-400 shadow-md rounded-md p-4">
        <h2 class="text-xl font-bold">Login History:</h2>
        <ul>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-between">
    <div class="flex flex-col w-1/2">
      <div class="m-2 border border-gray-400 shadow-md rounded-md p-4">
        <h2 class="text-xl font-bold">Profile Details:</h2>
        <ul>
          <li>Email: ...</li>
          <li>Created At: ...</li>
          <li>Updated At: ...</li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col w-1/2 h-full">
      <div class="m-2 border border-gray-400 shadow-md rounded-md p-4">
        <h2 class="text-xl font-bold">Login History:</h2>
        <ul>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
          <li><%= Time.now %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
