<div class="flex flex-col mt-10 mb-10">
  <h1 class="text-4xl">Member Dashboard</h1>
  <div class="border-t border-gray-400 w-full"></div>
  <div class="flex flex-row justify-between">
    <div class="flex flex-col w-1/2">
      <div class="m-2 border border-gray-400 shadow-md rounded-md p-4">
        <h2 class="text-xl font-bold">Profile Details:</h2>
        <ul>
          <li>Email: <%= current_user.email %></li>
          <li>Created At: <%= current_user.created_at %></li>
          <li>Updated At: <%= current_user.updated_at %></li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col w-1/2 h-full">
      <div class="m-2 border border-gray-400 shadow-md rounded-md p-4">
        <h2 class="text-xl font-bold">Login History:</h2>
        <ul>
          <% current_user.user_logins.ordered.each do |login| %>
            <li><%= login.login_at %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <% current_user.favorites.active.any? do %>
    <div class="flex flex-row">
      <div class="m-2 border border-gray-400 shadow-md rounded-md p-4 w-full">
        <h2 class="text-xl font-bold">Favorite products:</h2>

        <%= render partial: "shared/product_small_card", collection: current_user.favorites.active, as: :product %>
      </div>
    </div>
  <% end %>
</div>
